@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --breakpoint-sm: 30.75rem;
}

body {
  @apply font-poppins bg-[url(/background.png)] bg-cover bg-fixed text-white;
}

.navlink {
  @apply border-b-3 border-transparent hover:border-red-500;
}

.active {
  @apply border-red-500;
}

::-webkit-scrollbar {
  width: 0px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000319;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #950000;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #950000;
}
